@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin 'tailwindcss-animate';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3424 0.0337 64.4735);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2174 0.0019 106.5582);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2646 0.0233 66.5333);
  --primary: oklch(0.6119 0.2237 23.4441);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9502 0.0101 58.2141);
  --secondary-foreground: oklch(0.4414 0.0219 69.8739);
  --muted: oklch(0.9592 0.0101 58.2158);
  --muted-foreground: oklch(0.6232 0.0085 61.3755);
  --accent: oklch(0.9502 0.0101 58.2141);
  --accent-foreground: oklch(0.2646 0.0233 66.5333);
  --destructive: oklch(0.2174 0.0019 106.5582);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.914 0.0063 75.4039);
  --input: oklch(0.7811 0.0162 67.5869);
  --ring: oklch(0.6119 0.2237 23.4441);
  --chart-1: oklch(0.5628 0.2238 27.869);
  --chart-2: oklch(0.7329 0.1386 275.1997);
  --chart-3: oklch(0.8983 0.0267 61.9778);
  --chart-4: oklch(0.9158 0.034 282.0662);
  --chart-5: oklch(0.5726 0.2302 28.0527);
  --sidebar: oklch(0.9967 0.0013 106.423);
  --sidebar-foreground: oklch(0.3686 0.0058 78.2568);
  --sidebar-primary: oklch(0.6119 0.2237 23.4441);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9502 0.0101 58.2141);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2731 0.0039 84.5825);
  --foreground: oklch(0.8288 0.014 60.5315);
  --card: oklch(0.2731 0.0039 84.5825);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.3174 0.0038 84.5785);
  --popover-foreground: oklch(0.9526 0.0017 67.8019);
  --primary: oklch(0.6586 0.216 20.8758);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.3174 0.0038 84.5785);
  --muted: oklch(0.2268 0.0041 84.5874);
  --muted-foreground: oklch(0.7903 0.0173 70.4849);
  --accent: oklch(0.2179 0.011 60.8482);
  --accent-foreground: oklch(0.9967 0.0013 106.423);
  --destructive: oklch(0.6747 0.2255 5.7366);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3721 0.0124 87.5508);
  --input: oklch(0.4424 0.0125 67.4968);
  --ring: oklch(0.6586 0.216 20.8758);
  --chart-1: oklch(0.5628 0.2238 27.869);
  --chart-2: oklch(0.7329 0.1386 275.1997);
  --chart-3: oklch(0.2179 0.011 60.8482);
  --chart-4: oklch(0.3135 0.0671 272.7679);
  --chart-5: oklch(0.5726 0.2302 28.0527);
  --sidebar: oklch(0.2384 0.0046 17.4816);
  --sidebar-foreground: oklch(0.8288 0.014 60.5315);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2181 0.0041 84.5884);
  --sidebar-accent-foreground: oklch(0.8288 0.014 60.5315);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
